/* Ensures the slider container has proper overflow and spacing */
.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* Custom buttons for previous and next */
.carousel-btn {
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 50%;
  cursor: pointer;
}

.slick-track > .slick-active {
  padding-left: 16px;
}

/* .carousel-prev {
}

.carousel-next {
} */

.slick-prev,
.slick-next {
  display: none; /* Hides default arrows */
}

.slick-dots {
  display: none; /* Hides the dots */
}

/* Optional: Hide slick arrows at smaller screen sizes */
@media (max-width: 600px) {
  .carousel-btn {
    padding: 6px 10px;
  }
}

/* Single product images carousel */
.single-product-carousel,
.slick-list {
  margin-right: 50px;
  margin-left: 50px;
}

.single-product-carousel,
.slick-track > .slick-active {
  padding-left: 22px;
}
